$mobile-width: 420px;
$tablet-width: 991px;

$grey-1: #888ea7;
$grey-2: #e6ecf5;
$grey-3: #313643;
$grey-4: #f6f7fb;

$grey-3-opacity: rgba(49, 54, 67, 0.6);

$green-1: #aac72e;
$green-2: #f0f8cc;

$pink-1: #e63782;

$orange-1: #f7ab29;

$blue-1: #22a4dc;
